.DS_Store
xml/script-finder-main_menu_movies.xml
xml/script-finder-main_menu_tvshows.xml
xml/script-finder-main_menu_custom1.xml
xml/script-finder-main_menu_custom2.xml
xml/script-finder-main_menu_custom3.xml
xml/script-finder-widget_movies.xml
xml/script-finder-widget_tvshows.xml
xml/script-finder-widget_custom1.xml
xml/script-finder-widget_custom2.xml
xml/script-finder-widget_custom3.xml
xml/script-finder-search_history.xml
xml/script-skinshortcuts-includes.xml