<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30053">
		<setting type="lsep" label="30054"/>
		<setting id="buildname" type="text" label="30055" enable="false" default="No Build Installed"/>
		<setting id="buildversion" type="text" label="30056" enable="false" default="0"/>
		<setting id="firstrun" type="bool" label="First Run" visible="false"/>
		<setting id="firstrunNotify" type="bool" label="First Run" visible="false"/>
		<setting id="notifyversion" type="text" label="Notify Version: " visible="false" default="0"/>
		<setting id="autoclearpackages" type="bool" label="30057" visible="true" default = "true" />
		<setting id="update_passed" type="bool" label="Disable Update Notification" visible="true" default="false"/>
		<setting label="Backup Folder" type="folder" id="backupfolder" source="" option="writeable" default="special://home/backups" />
		<setting id="color1" label="Color 1" type="enum" default="1" values="white | dodgerblue | yellow | red | green" visible="true" />
        <setting id="color2" label="Color 2" type="enum" default="1" values="white | dodgerblue | yellow | red | green" visible="true" />
		<setting id="color3" label="" type="enum" default="1" values="white | dodgerblue | yellow | red | green" visible="true" />
		<setting id="color4" label="" type="enum" default="1" values="white | dodgerblue | yellow | red | green" visible="true" />
	</category>
	<category label="30059">
		<setting type="lsep" label="30058"/>
      		<setting id="savedata"  type="bool" label="Save Trakt & Debrid Data" default="false"/>
      		<setting id="saveyoutube" type="bool" label="Save Youtube API Keys" default="false"/>
		<setting id="savefavs" type="bool" label="Save Favourites" default="false"/>
		<setting id="savesources" type="bool" label="Save Sources" default="false"/>
		<setting id="saveadvanced" type="bool" label="Save Advanced Settings" default="false"/>	
		<setting id="savegui" type="bool" label="Save GUI Settings    [Only applies to build updates]" default="false"/>
    	</category>
</settings>